:root{
    --fonte-global: 'Space Mono', monospace;
    --black-dom: #202020;
    --white-dom: #f0f0f0;
}

body{
    font-family: var(--fonte-global);
    text-align: center;
    color: var(--white-dom);
    background-color: var(--black-dom);
}

.page__container{
    padding: 2.5em 150px;
}

.page__title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 24px;
}

.form__control{
    display: flex;
    flex-direction: column;
    padding: 2px 12.5rem;
}

.label-text{
    margin-bottom: 8px;
}

.area-text{
    margin-bottom: 8px;
    border-radius: 0.25rem;
    border-style: none;
    height: 8rem;
}

#button-click{
    padding: 4px 16px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--fonte-global);
    border-radius: 6px;
    border-style: none;
    width: fit-content;
    margin: auto;
}

.caracteres{
    font-weight: 700;
    margin-top: 16px;
}