:root{
    --fonte-global: 'Space Mono', monospace;
    --black-dom: #202020;
    --white-dom: #f0f0f0;
    --cinza-alfa: #575757;
    --cinza-beta: #a8a8a8;
}

body{
    font-family: var(--fonte-global);
    text-align: center;
    color: var(--white-dom);
    background-color: var(--black-dom);
}

.page__container{
    padding: 2.5em 150px;
}

.logo__page{
    width: 3.5rem;
    margin-bottom: 8px;
}

.page__title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 24px;
}

.form__control{
    display: flex;
    flex-direction: column;
    padding: 2px 12.5rem;
}

.label-text{
    margin-bottom: 8px;
}

.area-text{
    margin-bottom: 8px;
    border-radius: 0.25rem;
    border-style: none;
    height: 8rem;
}

#button-click{
    padding: 4px 16px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--fonte-global);
    border-radius: 6px;
    border-style: none;
    width: fit-content;
    margin: auto;
}

.caracteres{
    font-weight: 700;
    margin-top: 16px;
}

.star__github{
    color: var(--black-dom);
    text-decoration: none;
}

.star__github p{
    background-color: var(--white-dom);
    padding: 4px 16px;
    width: fit-content;
    margin: auto;
    margin-top: 8px;
    border-radius: 16px;
    font-size: 8px;
}

.rodape{
    padding: 1rem 12rem;
    border-top: 1px solid var(--cinza-alfa);
    color: var(--cinza-alfa);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape__title{
    font-size: 12px;
}

.rodape__links a{
    color: var(--cinza-alfa);
    text-decoration: none;
    font-size: 12px;
    text-align: left;
}

.rodape__links p{
    margin-bottom: 4px;
}

.fa-brands{
    margin-right: 6px;
}